* {
    border: 1px solid red;
    text-align: center;
}

body {
    height: auto;
    width: auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 30% 30% 20%;

    grid-template-areas: 
    "OppName   OppHP"
    " MyName    Charz"
    "Pika   MyHP  "
    "disiplay    AtkBox"
;
}

#OppName {
    grid: OppName;
    /* height: 400px;
    width: 400px;
    text-align: center; */
}
#OppHP {
    grid: OppHP;
}
#MyHP {
    grid: MyHP;
}
#MyName {
    grid: MyName;
}
#Pika {
    grid: Pika;
}
#Char {
    grid: Charz;
}
#AtkBox {
    grid: AtkBox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#display {
    grid: display;
}


/* 
div {
    
   
} */

h1 {
    text-align: center;

}

