* {
    border: 1px solid red;
    text-align: center;
    
}

.aiOpp{
    display: flex;
    /* height: 250px; */
    
}

.oppInfo{
    display:flex;
    flex:2;
    flex-direction: column;
}


#OppName {
    
    height: 30px;
    width: 100px;
    text-align: center;
   
}
#OppHP {
    
    /* height: 50px;
    width: 50px; */
    text-align: center;
}

#Charz {
   
margin-top: 10% ;
margin-right: 20%;
}

#background {
    position: absolute;
    object-fit: cover;

}


body {
    margin: 0;
    padding: 0;
    background-image: url("https://imgur.com/7HnHudI.jpg" );
    background-repeat:no-repeat;
    background-size: cover;
   
}

.greenBar {
    height: 20px;
    width: 400px;
    background-color: greenyellow;
}


.mainPoke{
    display: flex;
}
.mainInfo{
    display: flex;
    flex:2;
    flex-direction: column-reverse;
    align-items: flex-end;
    
}

.

/* #MyHP {
    
    /* height: 50px;
    width: 50px; */
    /* text-align: center; */
}
/* #MyName {
/*     
    height: 30px;
    width: 100px; */
    /* text-align: center; */
} 
/* .Pika {
    margin-left: 20%;
  
} */


.bottomDisp{
    display: flex;
}
#AtkBox {
 display: flex;
 flex-wrap: wrap;
  
}
#display {

    text-align: center;
}

.pikaMoves {
    flex: 4
}

article {
    text-align: center;
    height: 60px;
    width: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    
}



 